@page "/Settings"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject ostgiwkms.Services.SettingsService sService
@inject NavigationManager NavigationManager

<h3>Settings</h3>

<h3>Temperature</h3>

<SliderWithInput MinValue="0.1" MaxValue="2.0" Step="0.01" SelectedValue="@sService.TemperatureValue" />

<h3>Minimum Length</h3>
<SliderWithInput MinValue="0" MaxValue="2048" Step="1" SelectedValue="@sService.MinLengthValue" />

<h3>Maximum Length</h3>
<SliderWithInput MinValue="0" MaxValue="2048" Step="1" SelectedValue="@sService.MaxLengthValue" />

<button @onclick="SaveSettings">Save Settings</button>
@code {
    [Parameter] public double temperatureValue { get; set; } = 1.0;
    [Parameter] public int minLength { get; set; } = 100;
    [Parameter] public int maxLength { get; set; } = 1000;

    private void SaveSettings()
    {
        sService.SaveSettingsValue(temperatureValue, minLength, maxLength);

        NavigationManager.NavigateTo($"/Generate-Novel-Stream");
    }
}
